<!-- add-employee.component.html -->
<form #addForm="ngForm" (ngSubmit)="addEmployee(addForm)">
  <div class="form-group">
    <label for="add_name">Name</label>
    <input type="text" ngModel name="name" class="form-control" id="add_name" placeholder="Name" required>
  </div>
  <div class="form-group">
    <label for="add_surname">Surname</label>
    <input type="text" ngModel name="surname" class="form-control" id="add_surname" placeholder="Surname" required>
  </div>
  <div class="form-group">
    <label for="add_company">Company</label>
    <select ngModel name="company" class="form-control" id="add_company" required>
      <option value="" selected>--- Select a Company ---</option>
      <option *ngFor="let company of companies" [ngValue]="company">{{ company }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="add_building">Building</label>
    <select ngModel name="building" class="form-control" id="add_building" required>
      <option value="" selected>--- Select a Building ---</option>
      <option *ngFor="let building of buildings" [ngValue]="building">{{ building }}</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
  </div>
</form>
