.items-per-page-selector {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-per-page-selector .form-label {
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
}

.items-per-page-selector .form-select {
  padding: 8px 12px;
  border: 1px solid #ced4da;
  border-radius: 15px;
  background-color: #f8f9fa;
  color: #495057;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease;

}

.items-per-page-selector .form-select:hover,
.items-per-page-selector .form-select:focus {
  border-color: #80bdff;
}

.items-per-page-selector .form-select:focus {
  outline: none;
}

/* Pagination Styles */
.pagination-controls-container {
  display: flex;
  justify-content: end;
}
